{% extends "base.html" %}

{% block content %}
<style>
    .main-menu a {
    color: black !important;
}

.container {
    padding: 30px;
    margin-top: 150px;
    background-color: #fff1f0;
}
.btn {
    background-color: #fe4536;
}

</style>
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-lg-6">
                <div class="card mt-5">
                    <div class="card-body">
                        <h2 class="card-title">My Profile</h2>
                        <form method="post" class="mt-3">
                            {% csrf_token %}
                            <div class="form-group">
                                <label for="full-name">Full Name:</label>
                                <input type="text" id="full-name" name="full-name" value="{{ customer.customer_name }}" class="form-control">
                            </div>
                            <div class="form-group">
                                <label for="your-email">Email:</label>
                                <input type="email" id="your-email" name="your-email" value="{{ customer.email }}" class="form-control">
                            </div>
                            <div class="form-group">
                                <label for="phone-number">Phone Number:</label>
                                <input type="text" id="phone-number" name="phone-number" value="{{ customer.contact_number }}" class="form-control">
                            </div>
                            <div class="form-group">
                                <label for="password">Password:</label>
                                <input type="password" id="password" name="password" placeholder="********" class="form-control" disabled>
                                <small class="form-text text-muted">To change your password, click <a href="{% url 'change_password' %}">here</a>.</small>
                            </div>
                            <button type="submit" class="btn btn-primary">Save Changes</button>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
