{% extends 'base.html' %}

{% block content %}
{% load static %}

<style>
    .main-menu a {
    color: black !important;
}

.container {
    padding: 30px;
    margin-top: 150px;
    background-color: #fff1f0;
}
.btn {
    background-color: #fe4536;
}

</style>
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-md-6">
                <h2 class="text-center">Register Here</h2>
                <form method="post">
                    {% csrf_token %}
                    <div class="form-group">
                        <label for="full-name">Full Name</label>
                        <input type="text" class="form-control" id="full-name" name="full-name" placeholder="Full Name">
                    </div>
                    <div class="form-group">
                        <label for="phone-number">Phone Number</label>
                        <input type="tel" class="form-control" id="phone-number" name="phone-number" placeholder="Phone Number">
                    </div>
                    <div class="form-group">
                        <label for="your-email">Email</label>
                        <input type="email" class="form-control" id="your-email" name="your-email" placeholder="Email">
                    </div>
                    <div class="form-group">
                        <label for="password">Password</label>
                        <input type="password" class="form-control" id="password" name="password" placeholder="Password">
                        <input type="checkbox" onclick="togglePasswordVisibility('password')"> Show Password
                    </div>
                    <div class="form-group">
                        <label for="confirm-password">Confirm Password</label>
                        <input type="password" class="form-control" id="confirm-password" name="confirm-password" placeholder="Confirm Password">
                        <input type="checkbox" onclick="togglePasswordVisibility('confirm-password')"> Show Password
                    </div>
                    <button type="submit" class="btn btn-outline-danger">Register</button>
                </form>
            </div>
        </div>
    </div>

    <script>
        function togglePasswordVisibility(id) {
            var x = document.getElementById(id);
            if (x.type === "password") {
                x.type = "text";
            } else {
                x.type = "password";
            }
        }
    </script>
{% endblock %}
