{% extends 'base.html' %} {% block content %} {% load static %}

<style>
    .main-menu a {
    color: black !important;
  }
  
  .container {
    margin-top: 100px;
  }
  
  #cart-button {
    border: none;
    background-color: #fcfcfc; /* Change color as needed */
    color: rgb(0, 0, 0);
    padding: 10px 20px;
    border-radius: 60%; /* Make it round */
    font-size: 20px; /* Increase font size */
    cursor: pointer;
    transition: background-color 0.3s;
}

#cart-button:hover {
    background-color: #fe4536; /* Darker color on hover */
}
  
  </style>
</style>
<!-- shop-area start -->
<section class="shop-area pt-100 pb-100">
  <div class="container">
    <div class="row">
      <div class="col-xl-9 col-lg-8">
        <!-- tab filter -->
        <div class="row mb-10">
          <div class="col-xl-5 col-lg-6 col-md-6">
            <div class="product-showing mb-40">
              <p>Showing 1–22 of 32 results</p>
            </div>
          </div>
          <div class="col-xl-7 col-lg-6 col-md-6">
            <div class="shop-tab f-right">
              <ul class="nav text-center" id="myTab" role="tablist">
              </ul>
            </div>
            >
          </div>
        </div>
        <!-- tab content -->
        <div class="tab-content" id="myTabContent">
          <div
            class="tab-pane fade show active"
            id="home"
            role="tabpanel"
            aria-labelledby="home-tab"
          >
            <div class="row">
              {% for product in products %}
              <div class="col-xl-4 col-lg-6 col-md-6">
                <div class="product-wrapper mb-50">
                  <div class="product-img mb-25">
                    <a href="{% url 'product_detail' product.id %}">
                      <img src="{{ product.image_1.url }}" alt="" />
                      {% if product.image_2 %}
                      <img
                        class="secondary-img"
                        src="{{ product.image_2.url }}"
                        alt=""
                      />
                      {% endif %}
                    </a>
                    <div class="product-action text-center">
                        <form id="add-to-cart-form" action="{% url 'add_to_cart' %}" method="post">
                            {% csrf_token %}
                            <input type="hidden" name="product_id" value="{{ product.id }}">
                            <input type="hidden" name="quantity" value="1">
                            <button type="submit" id="cart-button">
                                <i class="flaticon-shopping-cart"></i>
                            </button>
                        </form> 
                      <a href="{% url 'product_detail' product.id %}" title="Quick View">
                        <i class="flaticon-eye"></i>
                      </a>
                    </div>
                  </div>
                  <div class="product-content pr-0">
                    <div class="pro-cat mb-10">
                      <a href="{% url 'product_detail' product.id %}">{{ product.subcategory }}</a>
                    </div>
                    <h4>
                      <a href="{% url 'product_detail' product.id %}">{{ product.name }}</a>
                    </h4>
                    <div class="product-meta">
                      <div class="pro-price">
                        <span>${{ product.price }}</span>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
              {% endfor %}
            </div>
          </div>
          <div
            class="tab-pane fade"
            id="profile"
            role="tabpanel"
            aria-labelledby="profile-tab"
          ></div>
        </div>
      </div>
      <div class="col-xl-3 col-lg-4">
        <div class="sidebar-shop">
            <div class="shop-widget">
                <h3 class="shop-title">Search by</h3>
                <form action="{% url 'search_results' %}" method="GET" class="shop-search">
                  <input type="text" name="q" placeholder="Your keyword...." />
                  <button type="submit"><i class="fa fa-search"></i></button>
                </form>
              </div>

            <div class="shop-widget">
              <h3 class="shop-title">Filter selection</h3>
              <div class="price-filter">
                <div id="slider-range"></div>
                <input type="text" id="amount" />
              </div>
            </div>
              

            <div class="shop-widget">
              <h3 class="shop-title">Tags</h3>
              <ul class="shop-tag">
                <li><a href="shop.html"> Minimal</a></li>
                <li><a href="shop.html"> T-Shirts</a></li>
                <li><a href="shop.html"> Pants</a></li>
                <li><a href="shop.html"> Jeants</a></li>
                <li><a href="shop.html"> Winter</a></li>
                <li><a href="shop.html"> Latest</a></li>
                <li><a href="shop.html"> New</a></li>
                <li><a href="shop.html"> Sale</a></li>
              </ul>
            </div>
            <div class="shop-widget">
              <h3 class="shop-title">color</h3>
              <ul class="shop-link">
                <li>
                  <a href="shop.html"><span class="blue"></span> Blue</a>
                </li>
                <li>
                  <a href="shop.html"><span class="green"></span> Green</a>
                </li>
                <li>
                  <a href="shop.html"><span class="orange"></span> Orange</a>
                </li>
                <li>
                  <a href="shop.html"><span class="navy"></span> Navy</a>
                </li>
                <li>
                  <a href="shop.html"
                    ><span class="pinkish"></span> Pinkish</a
                  >
                </li>
                <li>
                  <a href="shop.html"
                    ><span class="vista"></span> Vista Blue</a
                  >
                </li>
              </ul>
            </div>

            <div class="shop-widget">
              <h3 class="shop-title">Recent Product</h3>
              <ul class="shop-sidebar-product">
                <li>
                  <div class="side-pro-img">
                    <a href="product-details.html"
                      ><img src="img/product/latest/shop-rsp3.jpg" alt=""
                    /></a>
                  </div>
                  <div class="side-pro-content">
                    <div class="side-pro-rating">
                      <i class="fas fa-star"></i>
                      <i class="fas fa-star"></i>
                      <i class="fas fa-star"></i>
                      <i class="fas fa-star"></i>
                      <i class="fas fa-star"></i>
                    </div>
                    <h5>
                      <a href="product-details.html">Raglan Baseball-Style</a>
                    </h5>
                    <div class="side-pro-price">
                      <span>$119.00 USD</span>
                    </div>
                  </div>
                </li>
                <li>
                  <div class="side-pro-img">
                    <a href="product-details.html"
                      ><img src="img/product/latest/shop-rsp2.jpg" alt=""
                    /></a>
                  </div>
                  <div class="side-pro-content">
                    <div class="side-pro-rating">
                      <i class="fas fa-star"></i>
                      <i class="fas fa-star"></i>
                      <i class="fas fa-star"></i>
                      <i class="fas fa-star"></i>
                      <i class="fas fa-star"></i>
                    </div>
                    <h5>
                      <a href="product-details.html">Raglan Baseball-Style</a>
                    </h5>
                    <div class="side-pro-price">
                      <span>$119.00 USD</span>
                    </div>
                  </div>
                </li>
                <li>
                  <div class="side-pro-img">
                    <a href="product-details.html"
                      ><img src="img/product/latest/shop-rsp4.jpg" alt=""
                    /></a>
                  </div>
                  <div class="side-pro-content">
                    <div class="side-pro-rating">
                      <i class="fas fa-star"></i>
                      <i class="fas fa-star"></i>
                      <i class="fas fa-star"></i>
                      <i class="fas fa-star"></i>
                      <i class="fas fa-star"></i>
                    </div>
                    <h5>
                      <a href="product-details.html">Raglan Baseball-Style</a>
                    </h5>
                    <div class="side-pro-price">
                      <span>$119.00 USD</span>
                    </div>
                  </div>
                </li>
              </ul>
            </div>

            <div class="shop-widget">
              <div class="shop-sidebar-banner">
                <a href="shop.html"
                  ><img src="img/banner/shop-banner.jpg" alt=""
                /></a>
              </div>
            </div>
          </div>
      </div>
    </div>
  </div>
</section>
<!-- shop-area end -->
{% endblock %}
